html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
  display: flex;
  position: relative;
  width: 2678px;
  height: 640px;
  padding: 70px 36px 110px 92px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #424242;
}

.element:not(:last-child) {
  margin-right: 58px;
}

/* checkbox */

.checkbox__list {
  width: 176px;
  height: 309px;
  padding: 21px 0 29px 30px;
  background: #fff;
  border-radius: 10px;
}

.list__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #333;
}

.checkbox__item:not(:last-child){
  margin-bottom: 20px;
}

.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__item-text {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 19px;
  color: #333;
  cursor: pointer;
}
.checkbox__item-text>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox__item-text>span::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  border: 1px solid #999;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.checkbox__item-text>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #CCB26E;
}


.checkbox__item-text>input:checked+span:active::before {
  border-color: #CCB26E;
}


.checkbox__item-text>input:not(:disabled):active+span::before {
  border-color: #CCB26E;
}

.checkbox__item-text>input:focus-visible+span::before {
  border-color: #CCB26E;
}


.checkbox__item-text>input:checked+span::before {
  background-image: url(../img/Rectangle.svg);
}

.checkbox__item-text>input:checked+span::before {
  border-color: #CCB26E;
}

/* select */

.choices {
  width: 176px;
  font-family: inherit;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  top:10px;
}

.choices__inner,
.is-open .choices__inner {
  z-index: 2;
  border-radius: 10px 10px 0 0;
  background: #fff;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border: 1px solid #CCB26E;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid #CCB26E;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);

}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid #CCB26E;
  border-width: 1px 1px 0 0;
}

.choices__inner {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
}

.is-open .choices__inner {
  border-radius: 10px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown { /*костыль*/
  padding-top: 30px;
  top: calc(100% - 30px);
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}

.choices__list--dropdown.is-active {
  border: 1px solid #CCB26E;
  border-top-width: 0;
  border-radius: 0 0 10px 10px;
}

/* YA-map */

.map {
  width: 460px;
  height: 460px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* scrollbar */

.scroll {
  width: 399px;
  height: 310px;
  padding: 20px 30px 0px 29px;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
}

.simplebar-scrollbar {
  top: 7px;
}

.simplebar-scrollbar:before{
  opacity: 1;
  width: 6px;
  background: #CCB26E;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-content-wrapper {
  overflow: auto;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 440px;
  height: 410px;
  padding: 38px 31px 39px 38px;
  background-color: #000;
  border-radius: 10px;
}

.form__input {
  margin-bottom: 31px;
  padding: 20px 169px 20px 20px;
  font-size: 16px;
  color: #999;
  border: 1px solid #999;
  border-radius: 10px;
  outline: none;
  transition: border .5s ease-in-out;
}

.form__input:hover {
  border: 1px solid #FF5C00;
}

.form__input:active {
  border: 1px solid #FF5C00;
}

.form__input:focus {
  border: 1px solid #FF5C00;
}

.form__input-last {
  margin-bottom: 31px;
}

.form__input-box {
  position: relative;
}

.just-validate-error-label {
  position: absolute;
  top: -21px;
}

.btn {
  padding: 18.5px 53px;
  color: #fff;
  background: #FF5C00;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: color backgroung;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: #FF5C00;
  background: #fff;
}

/* tooltip */

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  width: 375px;
  height: 160px;
  padding: 20px 78px 20px 29px;
  font-size: 14px;
  line-height: 2;
  background: #fff;
}

.marker {
  position: absolute;
  right: 118px;
  bottom: 35px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.marker svg path {
  transition: fill .5s ease-in-out;
}

.marker svg path:hover {
  fill: #CCB26E;
}


.popup {
  position: absolute;
  right: 13%;
  left: 46%;
  bottom: 56px;
  padding: 7px 15px 8px 15px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: #656369;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.popup::before {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px #656369;
  position: absolute;
  z-index: 3;
  display: block;
  bottom: -5px;
  transform: rotate(180deg);
  left: calc(50% - 5px);
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
}


@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
  }

}
